h3
{
    font-size: 25px !important;
}

.btn-success:hover
{
    background-color: blue;
}

canvas
{
    animation-name: colorchanger;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 50px;
}

@keyframes colorchanger 
{
  from{box-shadow: 10px 10px 50px pink;}
  to{box-shadow: 10px 10px 50px rgb(107, 109, 231);}
  
}
